// Cards
.cards {
  &__container {
    @include container;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 1rem;
  }
  @media (max-width: 1000px) {
    &__container {
      display: block;
    }
  }
}

.card {
  max-width: 270px;
  min-height: 385px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  &__icon {
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  }
  &__content {
    text-align: center;
    h3 {
      font-size: 40px;
    }
    p {
      font-size: 20px;
      line-height: 23.44px;
    }
  }
  &.one {
    .card__icon {
      background: linear-gradient(89.39deg, #ff00ff 0.53%, #6455ff 99.49%);
    }
    button {
      background-color: #00ffff;
    }
  }
  &.two {
    .card__icon {
      background: linear-gradient(89.39deg, #00ffff 0.53%, #6455ff 99.49%);
    }
    button {
      background-color: #6455ff;
      color: #fff;
    }
  }
  &.three {
    .card__icon {
      background: linear-gradient(89.39deg, #0e0066 0.53%, #6455ff 99.49%);
    }
    button {
      background-color: #ff00ff;
      color: #fff;
    }
  }
  @media (max-width: 1000px) {
    position: relative;
    margin: 0 auto;
    padding: 2rem 0;
    &__icon {
      margin-bottom: 1rem;
    }
    &::before {
      content: "";
      position: absolute;
      bottom: 0.15rem;
      width: 187px;
      height: 1px;
      border: 1px solid #dddddd;
    }
    &:last-child {
      &::before {
        border: none;
      }
    }
  }
}
