// Features
.feature {
  &__container {
    @include container;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 1rem;
    &.reverse {
      flex-direction: row-reverse;
    }
  }
  &__picture {
    img {
      max-width: 460px;
    }
  }
  &__content {
    max-width: 465px;
    h2 {
      font-size: 40px;
    }
  }
  &.first {
    background: #f5f5f5;
    h2 {
      color: #0e0066;
    }
    p {
      color: #4a4a4a;
    }
    button {
      color: #6455ff;
    }
  }
  &.second {
    background: linear-gradient(135deg, #00ffff 0%, #6455ff 100%);
    h2,
    p,
    button {
      color: #fff;
    }
  }
  @media (max-width: 1000px) {
    &__container {
      display: block;
      margin: 0 1rem;
    }
    &__content {
      max-width: 100%;
      h2 {
        font-size: 33px;
      }
      p {
        font-size: 18px;
        line-height: 21px;
      }
    }
    &__picture {
      display: flex;
      justify-content: center;
      margin-top: 2rem;
      img {
        max-width: 288px;
      }
    }
  }
}
