@font-face {
  font-family: "Roboto Condensed";
  src: url("../../src/fonts/RobotoCondensed-Bold.woff2") format("woff2"),
    url("../../src/fonts/RobotoCondensed-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url("../../src/fonts/RobotoCondensed-Regular.woff2") format("woff2"),
    url("../../src/fonts/RobotoCondensed-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url("../../src/fonts/RobotoCondensed-Light.woff2") format("woff2"),
    url("../../src/fonts/RobotoCondensed-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
