*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 300;
}

h1,
h2,
h3 {
  font-weight: 400;
}

p {
  font-weight: 400;
  line-height: 18.75px;
  margin: 1rem 0;
}

button {
  &.btn-primary {
    @include button;
    width: 138px;
    height: 36px;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  }
  &.btn-ghost {
    @include button;
    padding: 0;
    background-color: transparent;
    text-decoration: underline;
  }
}
