// Hero
.hero {
  background: linear-gradient(
    89.39deg,
    #000024 0.53%,
    #0f006b 53.96%,
    #0e0066 99.49%
  );
  &__container {
    @include container;
    display: flex;
    align-items: center;
  }
  &__content {
    max-width: 560px;
    h1 {
      font-size: 70px;
      color: #ff00ff;
    }
    p {
      font-weight: 300;
      color: #fff;
    }
    button {
      &.btn-primary {
        background-color: #00ffff;
        margin-right: 1rem;
      }
      &.btn-ghost {
        color: #00ffff;
      }
    }
  }
  &__picture {
    margin: 70px 0;
    img {
      max-width: 100%;
    }
  }
  @media (max-width: 1000px) {
    &__container {
      display: block;
      padding: 50px 1rem;
    }
    &__content {
      max-width: 100%;
      text-align: center;
      h1 {
        font-size: 52px;
      }
      p {
        font-size: 20px;
        margin: 2rem 0;
      }
      button {
        &.btn-primary {
          display: block;
          margin: 0 auto;
        }
        &.btn-ghost {
          display: block;
          margin: 0 auto;
          margin-top: 1rem;
        }
      }
    }
    &__picture {
      display: flex;
      justify-content: center;
    }
  }
}
